main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  font-size: 1.1em;
  background-color: transparent;
}

#content{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  background-color: transparent;
  margin: 10px;
}
#content > ul{
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  padding: 15px;
  background-color: var(--background);
}

#content > ul >li{
  margin: 0.7em;
}
input{
  width: 180px;
}

#maxPoints{
  margin: 0px 5px;
}

#btnerr{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
}

#apply{
  width: 150px;
  margin: 0px 5px;
}

/*
@media (device-width < 450px){
  #content{
    width: 90%;
  }
  #content>ul{
    width: 97%;
  }
  label,span,button, select{
    font-size: 2em;
  }
  input[type="text"]{
    margin: 10px;
  }
  #maxPoints{
    width: 60px;
    margin: 0px 10px;
  }
  #apply{
    width: 250px;
    padding: 10px;
  }
}*/