main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  font-size: 1.1em;
}

#content{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}
#content > ul{
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  padding: 15px;
}

#content > ul >li{
  margin: 0.7em;
}
input{
  width: 180px;
}

#maxPoints{
  width: 30px;
  margin: 0px 5px;
}

#apply{
  width: 150px;
}