:root{
  --cardHeight: 230px;
  --cardWidth: 250px;
}
*{
  box-sizing: border-box;
}
/*==================================== allgemeine styles ============================================*/
.card{
  width: var(--cardWidth);
  height: var(--cardHeight);
  border: 1px solid #CBCBCB; /*var(--borderColor)*/
  border-radius: 4px;
  box-shadow: 0px 0px 4px var(--boxShadow); /*var(--boxShadow)*/
  margin: 10px;
  font-size: 1.2em;
  line-height: 1.2;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.card .card_text{
  padding: 0px 25px;
}
.card>.card_close{
  width: 100%;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-flow: row-reverse nowrap;
  background: transparent;
}
.card_bottom{
  min-height: 30px;
  padding: 0px;
  display: flex;
  flex-flow: row nowrap;
  
  background: transparent;
}
.card button{
  flex-grow: 1;
  height: 35px;
  border: none;
  border-top: 1px solid var(--borderColor);
  border-radius: 0px 0px 0px 4px;
  box-shadow: none;
}
.card button:last-of-type{
  border-radius: 0px 0px 4px 4px;
}
.card button+button:last-of-type{
  border-left: 1px solid var(--borderColor);
  border-radius: 0px 0px 4px 0px;
}
.card button:hover:enabled {
	background: var(--primary);
	color: white;
  border: none;
	border-top: 1px solid var(--primary);
	box-shadow: none;
}
.blackCard{
  --primary: var(--background2);
  --background: var(--primary2);
  --basicText: var(--background2);
  color: var(--primary);
  border-color: var(--background);
  box-shadow: 0px 0px 4px black;
}
/*==================================== spezifische styles ============================================*/
#blackCardCont{
  
}

#scoreBoardCont{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  min-height: 260px;
}
#scoreBoardBorder{
  box-sizing: content-box;
	width: 55%;
  padding: 20px;
  border: 1px solid var(--borderColor);
  border-radius: 6px;
  max-height: 175px;
  overflow-x: auto;
}
#scoreboard{
	border-collapse: collapse;
	/*border: 1px solid black;*/
  padding: 20px;
  width: 100%;
  /*border: 1px solid var(--borderColor);*/
}
#scoreboard th{
	height: 30px;
	border-bottom: 2px solid var(--basicText);
}
#scoreboard td{
	height: 23px;
	vertical-align: bottom;
}
tr>td+td{
  text-align: center;
}
.nameCell{
  text-align: left;
}
.scoreCell, .rankCell{
  min-width: 60px;
}
#scoreboard>tr .nameCell span{
  text-overflow: ellipsis;
}
.first, .first>td, .first>td>span{
  color: var(--right);
}

#content_czarWait{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#content_czarWait h3{
  padding-top: 6px;
  padding-bottom: 20px;
}

#content_whiteCards{
  
}
#whiteCards{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
}




