main{
  display: flex;
  justify-content: center;
  align-items: center;
  /*min-height: 400px;*/
  font-size: 1.1em;
  background-color: transparent;
}
#content{
  width: 100%;
  height: 100%;
  /*padding: 20px;*/
  
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: transparent;
}

#playerContent{
  height: 100%;
  flex-grow: 0;
  margin: 10px;
}
#playerContentHead{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
/*overflow-y: scroll*/
#chatContent{
  flex-grow: 1;
}

#settingContent{
  flex-grow: 0;
}



@media (device-width < 800px){
  #content{
    flex-flow: column wrap;
    align-items: center;
  }
  #chatContent{
    flex-grow: 0;
  }
  .vline{
    display: none;
  } 
}

